@model SportStore.ViewModels.Product.ProductDetailViewModel

<div class="container-fluid">
    <div class="row pb-4">
        <div class="col-md-3">
            <img src="/imgProducts/@Model.ImageUrl" class="card-img-top  fixed-image-height" alt="...">
        </div>
        <div class="col-md-4 align-self-center">
            <p><strong>Category: </strong>@Model.CategoryName</p>
            <h3>@Model.Name</h3>
            <p>€ @Model.Price</p>
            <p>@Model.Description</p>

            <div class="col w-50">
                <div class="row-3 pb-3 d-flex justify-content-between">
                    <form asp-action="AddToCart" asp-controller="Cart">
                        <input type="hidden" asp-for="ProductID" value="@Model.ProductID" />
                        <input type="number" maxlength="3" asp-for="Quantity" value="@Model.Quantity" class="InputQuantity">
                        <button class="btn btn-outline-dark"><i class="bi bi-cart-fill"></i> Add to cart</button>
                    </form>
                </div>
                @if (User.HasClaim("CanManageCatalog", "true"))
                {
                    <div class=" row-3 d-flex justify-content-between">
                        <a asp-action="Edit" asp-route-id="@Model.ProductID" class="btn btn-outline-primary">Edit</a>
                        <form asp-controller="Product" asp-action="Delete">
                            <input type="hidden" asp-for="ProductID" value="@Model.ProductID" />
                            <button class="btn btn-outline-danger">Delete</button>
                        </form>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

