@model IEnumerable<SportStore.ViewModels.Product.ProductDetailViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Products</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<div class="row justify-content-center">
    @foreach (var product in Model)
    {
        <div class="card m-2" style="width: 18rem;">
            <img src="/imgProducts/@product.ImageUrl" class="card-img-top fixed-image-height" alt="...">
            <div class="card-body text-center">
                <p class="card-title">@product.Name</p>
                <p class="card-text">€ @product.Price</p>
                <a class="btn btn-outline-primary" asp-controller="Product" asp-action="Details" asp-route-id="@product.ProductID">Details</a>
            </div>
        </div>
    }
</div>


@* <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
<a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@

@* 
<div>
    <img src="/imgProducts/salomon.png" />
</div> *@
