@model SportStore.Models.ManageProducts.ProductDetailsViewModel


<div class="container-fluid">
    <div class="row pb-4">
        <div class="col-md-3">
            <img src="/imgProducts/@Model.Product.ImageUrl" class="card-img-top  fixed-image-height" alt="...">
        </div>
        <div class="col-md-4 align-self-center">
            <p><strong>Category: </strong>@Model.Product.Category.Name</p>
            <h3>@Model.Product.Name</h3>
            <p>€ @Model.Product.Price</p>
            <p>@Model.Product.Description</p>


            <div class="col w-50">
                <div class="row-3 pb-3 d-flex justify-content-between">
                    <input type="text" maxlength="2" value="0" class="InputAmout">
                    <button type="button" class="btn btn-outline-dark"><i class="bi bi-cart-fill"></i> Add to cart</button>
                </div>
                <div class=" row-3 d-flex justify-content-between">
                    <a asp-action="Edit" asp-route-id="@Model.Product.Id" class="btn btn-outline-primary">Wijzigen</a>
                    <form asp-controller="ManageProducts" asp-action="Delete">
                        <input type="hidden" name="id" value="@Model.Product.Id" />
                        <button class="btn btn-outline-danger">Verwijderen</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

