@model WebApp.Data.Reservatie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reservatie</h4>
    <hr />
    <dl class="row">
        <dt  hidden class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReservatieID)
        </dt>
        <dd hidden class = "col-sm-10">
            @Html.DisplayFor(model => model.ReservatieID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Voornaam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Voornaam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Familienaam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Familienaam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumReservatie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumReservatie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AantalPersonen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AantalPersonen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tijdslot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tijdslot)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReservatieID" asp-controller="Reservatie">Edit</a>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}