﻿

@model IEnumerable<WebApp.Data.Reservatie>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Voornaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Familienaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
       @*      <th>
                @Html.DisplayNameFor(model => model.EmailBevestigen)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.DatumReservatie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AantalPersonen)
            </th>
        @*     <th>
                @Html.DisplayNameFor(model => model.NotARobot)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Tijdslot)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var reservatie in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => reservatie.Voornaam)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => reservatie.Familienaam)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => reservatie.Email)
            </td>
       @*      <td>
                @Html.DisplayFor(modelItem => item.EmailBevestigen)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => reservatie.DatumReservatie)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => reservatie.AantalPersonen)
            </td>
         @*    <td>
                @Html.DisplayFor(modelItem => item.NotARobot)
            </td> *@
            <td>
                    @Html.DisplayFor(modelItem => reservatie.Tijdslot)
            </td>
            <td>
                    <a asp-controller="Reservatie" asp-action="Edit" asp-route-id="@reservatie.ReservatieID">Wijzigen</a> |
                    <a asp-controller="Reservatie" asp-action="Details" asp-route-id="@reservatie.ReservatieID">Details</a> |
                    <a asp-controller="Reservatie" asp-action="Delete" asp-route-id="@reservatie.ReservatieID">Verwijderen</a>
            </td>
        </tr>
}
    </tbody>
</table>