@{
	ViewData["Title"] = "Albums";
}

@model List<Album>

<h1 class="text-center">Albums</h1>

<div class="row justify-content-center	">
	@foreach (Album album in Model)
	{
		<div class="card m-2" style="width: 18rem;">
			<img src="@album.ImageURL" class="card-img-top" alt="...">
			<div class="card-body text-center">
				<h5 class="card-title">@album.Title</h5>
				<p class="card-text">@album.Artist</p>
				<p class="card-text">@album.Rating</p>
				<a class="btn btn-primary" asp-controller="Album" asp-action="Details" asp-route-id="@album.Id">Details</a>
			</div>
		</div>
	}
</div>


