@{
    ViewData["Title"] = "Menu";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>@Model.CurrentMenu.Naam</h1>
            <ul>
                @foreach (var gerecht in Model.CurrentMenu.Gerechten)
                {
                    <li>
                        @gerecht.Naam
                        @if (gerecht.IsVeggie)
                        {
                            <i>(vegetarisch)</i>
                        }
                        : @gerecht.Prijs.ToString("C")
                    </li>
                }
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Menu's</h3>
            <ul>
                @foreach (var menu in Model.AllMenus)
                {
                    <li><a asp-action="DisplayMenu" asp-route-id="@menu.Id">@menu.Naam</a></li>
                }
            </ul>
        </div>
    </div>
</div>