@model List<Club>

<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Inactive</th>
			<th>Internal Number</th>
			<th>Contact Name</th>
			<th>Contact Phone</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var club in Model)
		{
			<tr>
				<td>@club.Id</td>
				<td>@club.NameClub</td>
				<td>@club.Inactive</td>
				<td>@club.InternalNumber</td>
				<td>@club.ContactName</td>
				<td>@club.ContactPhone</td>
			</tr>
		}
	</tbody>
</table>